body {
  font-size: 16px;
  color: #fff;
  background-color: #ff66b3; 
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #000;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/lotus-logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

a:link {
 text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Abel', sans-serif;
  color: #ff66b3;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #ff66b3;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ff66b3;
  text-align: center;
}
#nav-list a:hover {
  background: #00b33c;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #009933;
  text-align: right;
  padding-right: 15px;
}
.container .jumbotron{
  box-shadow: 0 0 50px #009933;
  border: 2px solid #009933;
}

.idealizadores span{
  text-align: center;
  font-size: 2em;
  margin-left: 400px; 
  line-height: 100px;

}

.nomefundadores span{
  font-size: 1.3em;
  line-height: 150px;
  margin-left: 150px;
  color: #fff;
}

.fotofundadores img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 170px;
  margin-top: -30px;
}

.textofundadores{
  font-size: 1em;
  line-height: 90px;
  margin-left: 40px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #ff66b3;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

span.discord{
  color: #008ae6;
}
span.whatsapp{
  color: #00e600;
}

/* END HEADER */

/* MENU CATEGORIES PAGE */
.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.category-tile img{

}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron{
    background: url('../images/jumbotron1200.jpg') no-repeat;
    height: 900px;
  }

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/lotus-logo-md.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }

  .container .jumbotron{
    background: url('../images/jumbotron992.jpg') no-repeat;
    height: 744px;
  }

  .navbar-brand p { /* Kosher cert */
   color: #ff66b3;
   text-transform: uppercase;
   font-size: .6em;
   margin-top: 10px;
  }
  .idealizadores span{
   text-align: center;
   font-size: 2em;
   margin-left: 310px;
  }

 .nomefundadores span{
   font-size: 1.3em;
   line-height: 150px;
   margin-left: 120px;
   color: #fff;
  }

 .fotofundadores img{
   width: 200px;
   height: 200px;
   border-radius: 100px;
   margin-left: 140px;
   margin-top: -30px;
  }

 .textofundadores{
   font-size: 0.8em;
   line-height: 90px;
   margin-left: 55px;
  }



  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-brand p { /* Kosher cert */
   color: #ff66b3;
   text-transform: uppercase;
   font-size: .7em;
   margin-top: -25px;
   margin-left: 395px;
  }
  .navbar-brand p span { /* Star-K */
   

  }

  .container .jumbotron{
    background: url('../images/jumbotron768.jpg') no-repeat;
    height: 576px;
  }


  #nav-list li span{
    margin-left: 40px;
  }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    right: 20px;
  }
  #phone div { /* Entre em contato */
   color: #557c3e;
   text-align: right;

  }
  #phone div span{
    padding: 0px;
    margin: 0px;
    border: 0px;
  }

  .idealizadores span{
   text-align: center;
   font-size: 1.7em;
   margin-left: 215px;
  }

  .nomefundadores span{
   font-size: 1.3em;
   line-height: 150px;
   margin-left: 230px;
   color: #fff;
  }

  .fotofundadores img{
   width: 200px;
   height: 200px;
   border-radius: 100px;
   margin-left: 250px;
   margin-top: -30px;
  }
 
 .textofundadores{
   font-size: 1em;
   line-height: 90px;
   margin-left: 115px;
   text-align: center;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { /* Kosher cert */
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img { /* Star-K */
    height: 20px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }

  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    border: ;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #000;
    color: #ff66b3;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container .jumbotron{
    margin-top: 30px;
    padding: 0;
  }

  .idealizadores span{
   text-align: center;
   font-size: 1.1em;
   margin-left: 220px;
   margin-bottom: 0;
   

  }

 .nomefundadores span{
   font-size: 0.9em;
   line-height: 80px;
   margin-left: 220px;
   color: #fff;
  }

 .fotofundadores img{
   width: 120px;
   height: 120px;
   border-radius: 100px;
   margin-left: 245px;
   margin-top: -5px;
  }

 .textofundadores{
   font-size: 0.75em;
   line-height: 70px;
   margin-left: 125px;
   text-align: center;
  }

}

@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }

  .idealizadores span{
   text-align: center;
   font-size: 1.1em;
   margin-left: 80px;
   margin-bottom: 0;

  }

 .nomefundadores span{
   font-size: 0.9em;
   line-height: 80px;
   margin-left: 80px;
   color: #fff;
  }

 .fotofundadores img{
   width: 120px;
   height: 120px;
   border-radius: 100px;
   margin-left: 100px;
   margin-top: -5px;
  }

 .textofundadores{
   font-size: 0.6em;
   line-height: 70px;
   margin-left: 18px;
   text-align: center;
  }


  /* End Header */
}

/* Footer */
  
  .panel-footer{
    background-color: #000;
    border-color: #000;
    opacity: 95%;
  }
  
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  #discord img{
    
  }


  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
}
